@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #444;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 60px;
  color: #333;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

.img {
  width: 100%;
  border: 5px dotted #ec4899;
}

.page-1 {
  min-height: 60vh;
  max-width: 700px;
  position: relative;
  /* display: none; */
}

.btn {
  box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  transition: transform 0.2 ease;
}

.btn:hover {
  transform: translateY(4px);
}

.btn-get {
  width: 200px;
  background-color: #ec4899;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

.container {
  min-height: 60vh;
  width: 700px;

  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  justify-items: center;
  visibility: hidden;
}

.btn-click {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  font-size: 20px;
  color: #333;
  border: 5px dotted #ec4899;
  background-color: #fff;

  position: absolute;
  top: 320px;
  left: 120px;
}

.joke {
  line-height: 2;
  font-size: 26px;
}
